.idea/
.gradle/
build/
obj/
TMessagesProj/.cxx
TMessagesProj/.cargo
*.iml
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
service_account_credentials.json
Tools/Utils.java
test.py
.project
.settings
.classpath
History.md
apks
dprint.json
